# R NOTEBOOK

In [7]:
debut <- Sys.time()
library(dplyr)

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

### TEAM SAKHIR

In [8]:
setwd("~/M2/Apprentissage/Projet/GIT")

df <- read.csv("./Sakhir/data/test/test_answer_template.csv", sep=";")
test <- read.csv("./Sakhir/data/test/test.csv", sep=";")

head(df)

  date       insee    ech tH2_obs
1 2016-06-20  6088001 1   NA
2 2016-06-20 31069001 1   NA
3 2016-06-20 33281001 1   NA
4 2016-06-20 35281001 1   NA
5 2016-06-20 59343001 1   NA
6 2016-06-20 67124001 1   NA


Predict tH2 from observations (without any changes) :

In [9]:
df$tH2_obs <- test$tH2

# write.csv2(df, file = "./Sakhir/submission/sub_1.csv", quote = F, row.names=F)

head(test)

  date       insee    capeinsSOL0      ciwcH20 clwcH20              ddH10_rose4
1 2016-06-20  6088001 75,0384084375617 0       0                    4
2 2016-06-20 31069001 14,6530930110094 0       0                    4
3 2016-06-20 33281001 0                0       0                    4
4 2016-06-20 35281001 0                0       0                    3
5 2016-06-20 59343001 8,16684668542971 0       0                    3
6 2016-06-20 67124001 8,56479974393727 0       0,000190282746921238 3
  ffH10             flir1SOL0         fllat1SOL0        flsen1SOL0        ...
1 2,51596842535535  -268804,529478594 -93476,7493906019 13948,230892122   ...
2 3,34583636840798  -258166,919893252 6797,3444501366   64247,6377300379  ...
3 1,68649966371305  -206150,117684901 16474,3039457753  8681,70340989736  ...
4 3,05432249849325  -123365,946546979 -1990,15018465374 37442,5177440584  ...
5 3,68258738415237  -131135,68062796  5471,41127166211  121741,535498832  ...
6 0,539610067646421 -84723,0391280646 2398,04845094641  -11536,9256153106 ...
  tH2              tH2_VGrad_2.100     tH2_XGrad
1 19,4646036511291 2,32766428008289    0,00059275475727947
2 14,089699713494  0,922006048551159   0,0047233389460472
3 11,9812777809786 2,85828619077935    0,00318234987619924
4 14,8418683680853 -0,0950847577341793 0,00201711197876884
5 14,7429696224624 0,505452498347848   -0,00151922222603077
6 10,4583044618718 3,84387430740751    0,00230321788204558
  tH2_YGrad            tpwHPA850        ux1H10           vapcSOL0
1 -0,0025751250150254  14,1706723554977 2,19776878753321 22,333181597889
2 -0,00333979555616428 10,5732642278743 5,47278922796249 19,8316339969224
3 0,00126778689159624  10,5935282807858 2,28949827125366 24,9694713056087
4 0,000575291845841844 15,1568441202659 3,03919904397481 37,6737382719948
5 0,000907633633123516 13,2870701542494 4,73122673151186 31,5495817911651
6 -0,00111491574539287 9,14086632386321 1,18083410372493 18,0074347459013
  vx1H10            ech mois
1 -1,54265981787466 1   juin
2 -1,03997960686684 1   juin
3 0,573084577797093 1   juin
4 3,8865323282007   1   juin
5 4,06140826704543  1   juin
6 1,66879886703097  1   juin

In [10]:
str(df)

'data.frame':	21168 obs. of  4 variables:
 $ date   : Factor w/ 84 levels "2016-06-20","2016-06-21",..: 1 1 1 1 1 1 1 2 2 2 ...
 $ insee  : int  6088001 31069001 33281001 35281001 59343001 67124001 75114001 6088001 31069001 33281001 ...
 $ ech    : int  1 1 1 1 1 1 1 1 1 1 ...
 $ tH2_obs: Factor w/ 21168 levels "-0,00722648018412195",..: 10951 4474 2266 5373 5258 1009 8119 11359 8023 4647 ...

In [11]:

df <- read.csv("./Sakhir/data/train_1.csv", sep=";", dec = ",")

str(df)

df <- df %>% mutate(
  date = as.Date(date, "%Y-%m-%d"),
  insee = as.factor(as.character(insee)),
  # ddH10_rose4 = ??? (126 == "" -> NA ou O ?),
  # flvis1SOL0 = 1 level ?,
  ech = as.factor(ech),
  mois = as.character(mois)
)

'data.frame':	6167 obs. of  31 variables:
 $ date           : Factor w/ 881 levels "2014-01-01","2014-01-02",..: 1 1 1 1 1 1 1 2 2 2 ...
 $ insee          : int  6088001 31069001 33281001 35281001 59343001 67124001 75114001 6088001 31069001 33281001 ...
 $ tH2_obs        : num  5.5 4.8 8.9 6.8 5.4 ...
 $ capeinsSOL0    : num  0.199 8.59 69.204 65.27 5.933 ...
 $ ciwcH20        : num  0 0 0 0 0 0 0 0 0 0 ...
 $ clwcH20        : num  0.00 0.00 1.03e-06 0.00 0.00 ...
 $ ddH10_rose4    : Factor w/ 5 levels "","1.0","2.0",..: 5 4 4 4 4 4 4 2 4 5 ...
 $ ffH10          : num  1.97 2.76 3.41 4.66 5.86 ...
 $ flir1SOL0      : num  -386961 -200181 -62310 -61612 -39553 ...
 $ fllat1SOL0     : num  -94261 2283 9484 -48356 -1023 ...
 $ flsen1SOL0     : num  -40546 14400 64790 127451 117800 ...
 $ flvis1SOL0     : num  3.6e-12 3.6e-12 3.6e-12 3.6e-12 3.6e-12 ...
 $ hcoulimSOL0    : num  66.6 58 203 344 657 ...
 $ huH2           : num  79.2 83.9 95.7 90.2 92.7 ...
 $ iwcSOL0        : num  0 0 0 0 0 0 0 0 0 0 ...
 $ nbSOL0_HMoy    : num  0 0.0127 4.7924 7.0747 7.9958 ...
 $ nH20           : num  0 0 0.155 0 0 ...
 $ ntSOL0_HMoy    : num  4.17 5.74 7.84 7.38 8 ...
 $ pMER0          : num  1020 1018 1016 1009 1009 ...
 $ rr1SOL0        : num  0 0 0.0813 0.0299 0 ...
 $ rrH20          : num  0 0 0.00501 0.00814 0 ...
 $ tH2            : num  9.03 3.85 8.59 7.3 5.83 ...
 $ tH2_VGrad_2.100: num  -0.085 1.3961 0.3873 -0.0893 -0.4896 ...
 $ tH2_XGrad      : num  0.007725 0.005036 0.001372 0.000401 0.000204 ...
 $ tH2_YGrad      : num  -1.30e-02 8.10e-04 9.74e-06 -6.68e-05 -1.91e-04 ...
 $ tpwHPA850      : num  3.85 8.48 7.64 7.09 4.55 ...
 $ ux1H10         : num  1.33 -2.04 3.03 -1.03 2.8 ...
 $ vapcSOL0       : num  10.66 15.46 17.34 13.98 9.94 ...
 $ vx1H10         : num  -2.85 3.02 4.89 8.08 7.96 ...
 $ ech            : int  1 1 1 1 1 1 1 1 1 1 ...
 $ mois           : Factor w/ 12 levels "aoÃ»t","avril",..: 5 5 5 5 5 5 5 5 5 5 ...